<!--
<div class="text-to-speech">
  <h2>Text to Speech</h2>
  <textarea [(ngModel)]="textToSpeak" placeholder="Enter text here..." rows="5"></textarea>
  <div>
    <button (click)="speak()">Speak</button>
    <button (click)="onStop()">Stop</button>
  </div>
</div>
 -->

 <div class="journal">
  <h2>Emotion Response</h2>
  <div>
    <button (click)="generateResponse('anger')">Speak Response</button>
    <!-- <button (click)="generateResponse('sjoy')">Speak Joy Response</button> -->
    <button (click)="onStop()">Stop</button>
  </div>
</div>
