
<button (click)="openModal()">Show Journal</button>

@if (isModalOpen) {
  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-header">
        <h3>Journal Entries</h3>
        <button (click)="closeModal()" class="close-button">&times;</button>
      </div>
      <div class="modal-body">
        @if (transcripts().length > 0) {
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Journal Entry</th>
                <th>Emotion</th>
              </tr>
            </thead>
            <tbody>
              @for (transcript of transcripts(); track transcript.id) {
                <tr>
                   <td>{{ transcript.createdAt?.toDate() | date: 'medium' }}</td>
                  <td>{{ transcript.text }}</td>
                  <td>{{ transcript.emotion }}</td>
                </tr>
              }
            </tbody>
          </table>
        } @else {
          <p>No transcripts found.</p>
        }
      </div>
    </div>
  </div>
}