h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 37px;
    font-style: normal;
    margin-bottom: 2.5rem;
}

button{
    margin: 5px 15px;
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 11px;
    border: 1px solid white;
    /* box-shadow: 0 3px 9px black; */
    color: white;
    background: none;
    transition: 0.2s;
}

button:active{
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    transition: 0.2;
}