@if (!isRecordingStopped) {
    <h1>Tell me about your day</h1>
    <button (click)="startSpeechRecognition()">Start Speech-to-Text</button>
    <button (click)="stopSpeechRecognition()">Stop Speech-to-Text</button>
}

@if (isTextToSpeak) {

  <!-- @if (result) {
    <h3>Result:</h3>
    <p><strong>Emotion:</strong> {{ result.emotion }}</p>
    <p><strong>Score:</strong> {{ result.score }}</p>
  }
  <div>
    <h3>Debug Info:</h3>
    <p><strong>User Text:</strong> {{ userText }}</p>
    <p><strong>API Response:</strong> {{ result | json }}</p>
  </div> -->
    <div class = "textToSpeak">
        @if (textToSpeak && result) {
            <p>You must be feeling {{result.emotion}}. </p>
            <p>{{textToSpeak}}</p>
        }
    </div>

}

@if (startBreathe){
    <div class = "breathing">
        <app-breathing-exercise></app-breathing-exercise>
    </div>
}

  <!-- <div class="journal">
    <h2>Emotion Response</h2>
    <div>
      <button (click)="generateResponse(result.emotion)">Speak Response</button>
      <button (click)="onStop()">Stop</button>
    </div>
  </div> -->